
#logo{
    display:block;
    width:370px;
    margin:20px auto;
}
#searchbar{
    display:block;
    width:85%;
    height:100%;
    margin:auto;
    border:transparent;
    background:transparent;
    }
#searchbar:focus{
    outline:none;
}
#search{
    position:relative;
    height:40px;
    width:90%;
    border-style:solid;
    border-radius:25px;
    border-color:rgba(20,20,20,0.2);
    border-width:1px;
    margin:auto;
    }
#search:hover{
    box-shadow:2px 2px 6px rgba(20,20,20,0.2);
}
#glass{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    left:15px;
    object-fit:cover;
}
nav{
    display:flex;
    flex-direction:row;
    justify-content: end;
    align-items: center;
    padding:10px;
    }
a.nostyle{
    text-decoration:inherit;
    color:inherit;
    padding:0 10px;
    font-size:14px;
}
a.nostyle:hover{
    text-decoration:underline;
}
#signin{
    background:blue;
    color:white;
    padding:5px 20px;
    border-radius:5px;
    border-color:transparent;
    margin-left:15px;
}
#signin:hover{
background-color: rgb(104, 107, 235);
cursor: pointer;
}
#appsdiv{
    position:relative;
    width:40px;
    height:40px;
    margin-left: 10px;
    background-color:transparent;
    text-align: center;
    border: transparent;
   }
#appsdiv:hover{
    background:rgba(50,50,50,0.1);
    border-radius:50%;
    cursor: pointer;
     }
.searchbutton{
    padding:8px 12px;
    margin:10px 5px;
    background-color: rgba(200,200,200,0.2);
    border-color: transparent;  
    border-radius: 5px;  
    }
.searchbutton:hover{
    border-color: rgba(136, 120, 120, 0.1);
}
form{
    text-align: center;
}
#trans{
    font-size: 13px;
    text-align: center;
}
#trans a{
    text-decoration: none;
}
#trans a:hover{
    text-decoration: underline;
}
html{
    height: 100%;
}
body{
    display:flex;
    flex-direction: column;
    min-height:100%;
    padding:0;
    margin:0;
}
main{
    flex:1;
}
footer{
    background-color: rgb(238, 229, 229);
}
#country{
    border-bottom-style: solid;
    border-color: rgb(199, 197, 197);
    border-width: 1px;
    padding: 15px 30px;
}
#footerlink{
    text-align: center;
}
#footerlink a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding:15px 10px;
    }
#footerlink a:hover{
text-decoration: underline;
}